*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins;
}
section{
    background: black;
    box-shadow: 2px 2px 10px black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
}
li{
    padding-left: 20px;
    display: inline-block;
}
 a{
    color: green;
    font-size: 20px;
    font-weight: 800;
}
.box{
    width: 350px;
    height: auto;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%,-50%);
}
.box h1{
    text-align: center;
}
input{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
.submit{
    background: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.error{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 6px  ;
    background: rgb(233, 165, 165);
    color: rgb(211, 112, 112);
}
p{
    color: white;
}
.input {
    width: 600px;
    margin: 50px auto;
}
.input input{
    border: 2px solid #555;
}
table{
    width: 600px;
    margin: 50px auto;
}
th{
    font-weight: bolder;
    text-align: left;
}
.btn{
    background: green;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px ;
}
