<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <section>
        <div class="navbar">
            <div class="logo">
                <a href="">LOGO</a>
            </div>
            <div class="links">
                <li><a href="{{url_for('add')}}">Add</a></li>
                <li><a href="{{url_for('show')}}">Show</a></li>
            </div>
            <nav>
                <ul>
                    <li><p>{{ username}}</p></a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </section>
    
    {% block content %}
    {% endblock %}
</body>
</html>